In [1]:
import pandas as pd
import requests
from lxml import html

In [47]:
urls = ['https://www.fragrantica.ru/designers-1/', 'https://www.fragrantica.ru/designers-2/', 
        'https://www.fragrantica.ru/designers-3/', 'https://www.fragrantica.ru/designers-4/', 
        'https://www.fragrantica.ru/designers-5/', 'https://www.fragrantica.ru/designers-6/', 
        'https://www.fragrantica.ru/designers-7/', 'https://www.fragrantica.ru/designers-8/', 
        'https://www.fragrantica.ru/designers-9/', 'https://www.fragrantica.ru/designers-10/', 
        'https://www.fragrantica.ru/designers-11/']

In [6]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) \
            Chrome/39.0.2171.95 Safari/537.36'}

In [7]:
def getDatafromPage(data):
    voc = {}
    for count,catalog in enumerate(data.xpath('//div[@class="nduList"]')[0:]):
        for p in catalog.xpath('p'):
            A = {}
            for a in p.xpath('a'):
                A['url'] = a.attrib.get('href')
                A['name'] = a.text_content().replace('\n',' ')
            voc[count] = A
    return pd.DataFrame.from_dict(voc, orient ='index')

In [48]:
listing = pd.DataFrame()
for url in urls:
    page = requests.get(url, headers=headers)
    data = html.fromstring(page.content)
    listing = listing.append(getDatafromPage(data))
    print(listing.shape)

(324, 2)
(500, 2)
(730, 2)
(985, 2)
(1287, 2)
(1570, 2)
(1783, 2)
(2048, 2)
(2714, 2)
(3098, 2)
(3453, 2)

In [49]:
df = listing.copy()
df.head()

                                       url                        name
0            /designers/A-Bathing-Ape.html             A Bathing Ape
1  /designers/A-Beautiful-Life-Brands.html   A Beautiful Life Brands
2            /designers/A-Dozen-Roses.html             A Dozen Roses
3               /designers/A-La-Russe.html                A La Russe
4            /designers/A-Lab-on-Fire.html             A Lab on Fire

In [50]:
df['letter'] = df['name'].str[1]

In [51]:
df = df[['letter', 'name', 'url']]

In [52]:
df.head(10)

,letter,name,url
0,A,A Bathing Ape,/designers/A-Bathing-Ape.html
1,A,A Beautiful Life Brands,/designers/A-Beautiful-Life-Brands.html
2,A,A Dozen Roses,/designers/A-Dozen-Roses.html
3,A,A La Russe,/designers/A-La-Russe.html
4,A,A Lab on Fire,/designers/A-Lab-on-Fire.html
5,A,A Perfume Organic,/designers/A-Perfume-Organic.html
6,A,A Wing & A Prayer Perfumes,/designers/A-Wing-%26-A-Prayer-Perfumes.html
7,A,A. N. OTHER,/designers/A.-N.-OTHER.html
8,A,A.B.R. Barlach,/designers/A.B.R.-Barlach.html
9,A,A.P. Durand Parfums,/designers/A.P.-Durand-Parfums.html

In [53]:
df.shape

(3453, 3)

In [54]:
df.drop_duplicates('url')
df.dropna()
df.shape

(3453, 3)

In [55]:
df.to_csv('../how_to_parse/PerfumesList.csv', index=False, encoding='utf-8')