In [1]:
import pandas as pd
import requests
from lxml import html

In [14]:
url = 'https://www.fragrantica.ru/designers-1/'
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) \
            Chrome/39.0.2171.95 Safari/537.36'}

In [15]:
page = requests.get(url, headers=headers)
data = html.fromstring(page.content)

In [16]:
page.status_code

200

In [17]:
aromas_list = data.xpath('//div[@class="nduList"]')

In [37]:
for item in aromas_list[0].text_content().split('\n'):
    if item != '':
        print(item.strip())

A Bathing Ape

In [58]:
for catalog in data.xpath('//div[@class="nduList"]')[0:]:
    print(catalog.text_content().replace('\n',''))

A Bathing Ape
A Beautiful Life Brands
A Dozen Roses
A La Russe
A Lab on Fire
A Perfume Organic
A Wing & A Prayer Perfumes
A. N. OTHER
A.B.R. Barlach
A.P. Durand Parfums
Abahna
Abaton
Abbott New York City
Abdul Karim Al Faransi
Abdul Samad Al Qurashi
Abel
Abercrombie & Fitch
Abinoam
Absolument Parfumeur
Acca Kappa
Accendis
Accessorize
Accord Parfait
Ach. Brito
Acorelle
Acqua Alpes
Acqua del Garda
Acqua dell Elba
Acqua Delle Langhe
Acqua di Biella
Acqua di Genova
Acqua di Montisola
Acqua di Parma
Acqua di Portofino
Acqua di Portokali
Acqua di Sardegna
Acqua di Stresa
Acqua Novara
Acqua Reale
AcquaDì
Acque di Italia
Adam Levine
Addy van den Krommenacker
Adidas
Adnan B.
Adolfo Dominguez
Adopt` by Reserve Naturelle
Adriana Karembeu
Adrien Arpel
Adrienne Vittadini
Aedes de Venustas
Aeon
Aerin Lauder
Aeropostale
Aesop
Aether
Aether Arts Perfume
Affinessence
Affliction
Afnan Perfumes
Aftelier
Agallocha
Agarscents Bazaar
Agatha
Agatha Paris
Agatha Ruiz de la Prada
Agent Provocateur
Agnes B
Agonist
Agua de Sevilla
Aguas de Colonia Sanborns
Agustin Davila
Agustin Reyes
Ahjaar
Ahwaz Fragrance
Aimee de Mars Parfums
Air-Val International
Airness
Aisha Perfumes by Neide Albano
Ajmal
Ajne
AK France
Akon
Al Attar
Al Battash Classic
Al Battash Concepts
Al Battash Luxury
Al Haramain Perfumes
Al Musbah
Al-Jazeera Perfumes
Al-Rehab
Alaia Paris
Alain Daniel
Alain Delon
Alan Bray
Alan Cumming
Albert Nipon
Alberta Ferretti
Alchimista
ALDO
Alen Mak
Alesha Dixon
Alessandro
Alessandro Della Torre
Alessandro Dell` Acqua
Alex Curran
Alex Simone
Alexa Lixfeld
Alexander Julian
Alexander McQueen
Alexandra de Markoff
Alexandre Barthet
Alexandre Marc
Alexandre.J
Alexandria Fragrances
Alfaroma
Alford & Hoff
Alfred Dunhill
Alfred Sung
Alice & Peter
Alicia Milor
Alkemia Perfumes
All Good Scents
Alla Pugacheva
Allegri
Allen Shaw
Alliance
Allison
Alma de Canarias
Aloha Beauty
Alt-Innsbruck
Alta Moda
ALTAIA
Altern Essence Perfume
Alvarez Gomez
Alverde
Alviero Martini
Alye Parusa
ALYSONOLDOINI
Alyssa Ashley
Amado
Amanda Lepore
Amazonia Viva
Amberfig
Ambregris
American Beauty
American Crew
American Eagle
American Idol
America’s Next Top Model
Amordad
Amouage
Amouroud
Amway
Amy Childs
Amygdala
Ana Hickmann
Ana Rosa
Ana Salazar
Anamor
Anastacia
Anastasia Denisenkova
Anat Fritz
Anatole Lebreton
And Other Stories
Andre Sinan
Andrea Maack
Andree Putman
Andy Warhol
Anfas
Anfasic Dokhoon
Angel Schlesser
Angela Ciampagna
Angela Flanders
Angelo Caroli
Anglia Perfumery
Anicka Yi & Maggie Peng
Anima Mundi
Anima Vinci
Animale
Anine Bing
Anja Rubik
Ann Gerard
Ann Steeger
Ann Taylor
Anna Dello Russo
Anna Inspiring Jewelry
Anna Paghera
Anna Sui
Anna Zworykina Perfumes
Annayake
Anne de Cassignac
Anne Fontaine
Anne Klein
Anne Möller
Anne Pliska
Annemarie Börlind
Annette Neuffer
Annick Goutal
Annie Oakley
Annika Sorenstam
Anthony Embry
Anthony Logistics
Anthousa
Anthropologie
Antica Barbieria Colla
Antica Erboristeria e Spezieria San Simone
Antica Farmacista
Antiga Barbearia de Bairro
Antiqua Firenze
Antoine & Lili
Antonia`s Flowers
Antonio Alessandria
Antonio Banderas
Antonio Croce
Antonio Fusco
Antonio Miro
Antonio Puig
Antonio Rossini
Antonio Visconti
Anu Essentials
Anucci
Anya`s Garden
Apivita
Apolis
Apoteker Tepe
Apothia
Apple Parfums
April Aromatics
Aqaba
Aqua di Ponza
Aquaflor Firenze
Aqualis
Aquolina
Arabesque
Arabesque Perfumes
Arabian Oud
Arabiyat
Aramis
Archetypes
Ard Al Zaafaran
Areej Le Doré
Argos
Ariana Grande
Ariane Inden
Arielle Shoshana
Arkadia Sabores y Aromas de Autor
Armaf
Armand Basi
Arnaud
Arno Sorel
Aroma Essence
Aroma Karelia
Aroma M
Aromachology
Aromaflage
Aromata Mirabilia
Aromatherapy Associates
Aromatica
Aromatologic
Arquiste
Arran Aromatics
Arrogance
Arrogant Cat
Ars Mirabile
Arshia Parfums
Art de Parfum
Art Deco Perfumes
Art Meets Art
Art of Scent - Swiss Perfumes
Artalep
Arte Profumi
Artemis of Switzerland
Artemisia Natural Perfume
ArteOlfatto
Artistry
Arts&Scents
Arty Fragrance by Elisabeth de Feydeau
ASAMA Perfumes
Asgharali
Ashley Roberts
Askett & English
Asklöv
Asprey London
Astier de Villatte
Atelier Bloem
Atelier Cologne
Atelier de Geste
Atelier des Ors
Atelier d`Artistes By Alexandre.J
Atelier Flou
Atelier Oblique
Atelier Ulric Fragrances
Atkinsons
Atrin Star
Attar Collection
Attirance
Au Pays de la Fleur d’Oranger
Aubade
Aubusson
Auguste
Augustina
Aulentissima
Auphorie
Aus Liebe zum Duft
Austin Reed
Austin Young
Automobili Lamborghini
Autre Parfum
Ava Luxe
Avatim
Aveda
Aventuur
Avery
Avon
Avril Lavigne
Axe
Axis
Ayala Moriel
Ayura
Azagury
Aziza World Fragrances
Azzaro
Água de Cheiro

In [102]:
def getDatafromPage(data):
    voc = {}
    for count,catalog in enumerate(data.xpath('//div[@class="nduList"]')[0:]):
        for p in catalog.xpath('p'):
            A = {}
            for a in p.xpath('a'):
                A['url'] = a.attrib.get('href')
                A['name'] = a.text_content().replace('\n',' ')
            voc[count] = A
    return pd.DataFrame.from_dict(voc, orient ='index')

In [103]:
page = getDatafromPage(data)

In [105]:
df = page.copy()
df.head()

                                       url                        name
0            /designers/A-Bathing-Ape.html             A Bathing Ape
1  /designers/A-Beautiful-Life-Brands.html   A Beautiful Life Brands
2            /designers/A-Dozen-Roses.html             A Dozen Roses
3               /designers/A-La-Russe.html                A La Russe
4            /designers/A-Lab-on-Fire.html             A Lab on Fire

In [106]:
df['letter'] = df['name'].str.split(' ').str[1]

In [107]:
df.head()

                                       url                        name letter
0            /designers/A-Bathing-Ape.html             A Bathing Ape        A
1  /designers/A-Beautiful-Life-Brands.html   A Beautiful Life Brands        A
2            /designers/A-Dozen-Roses.html             A Dozen Roses        A
3               /designers/A-La-Russe.html                A La Russe        A
4            /designers/A-Lab-on-Fire.html             A Lab on Fire        A

In [100]:
df = df[['letter', 'name', 'url']]

In [101]:
df.head()

  letter                        name                                      url
0      A             A Bathing Ape              /designers/A-Bathing-Ape.html
1      A   A Beautiful Life Brands    /designers/A-Beautiful-Life-Brands.html
2      A             A Dozen Roses              /designers/A-Dozen-Roses.html
3      A                A La Russe                 /designers/A-La-Russe.html
4      A             A Lab on Fire              /designers/A-Lab-on-Fire.html

In [109]:
df.shape

(324, 3)