In [1]:
import pandas as pd

In [2]:
pp_data_clear = pd.read_csv('pp_data_clear.csv')
fg_data = pd.read_csv('fg_data.csv')

In [3]:
fg_data.head(2)

,link,name,sex,url_brand,year
0,/perfume/Abercrombie-Fitch/AbercrombieHOT-2246...,AbercrombieHOT,м,/designers/Abercrombie-%26-Fitch.html,2013
1,/perfume/Abercrombie-Fitch/Batch-No-46-38010.html,Batch No. 46,м,/designers/Abercrombie-%26-Fitch.html,2015

In [4]:
pp_data_clear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4779 entries, 0 to 4778
Data columns (total 28 columns):
available                4779 non-null bool
categoryId               4779 non-null int64
country_of_origin        4493 non-null object
cpa                      4779 non-null int64
currencyId               4779 non-null object
delivery                 4779 non-null bool
description              31 non-null object
family                   4138 non-null object
id                       4779 non-null int64
manufacturer_warranty    4779 non-null bool
clearModel               4779 non-null object
name                     4779 non-null object
oldprice                 989 non-null float64
pickup                   4779 non-null bool
picture                  4779 non-null object
price                    4779 non-null int64
probnik                  70 non-null object
sex                      4779 non-null object
start_year               4163 non-null float64
store                    4779 non-null bool
tester                   1164 non-null object
type                     4779 non-null object
typePrefix               4779 non-null object
unit                     4676 non-null object
url                      4779 non-null object
vendor                   4779 non-null object
vendorCode               4779 non-null int64
vol                      4676 non-null object
dtypes: bool(5), float64(2), int64(5), object(16)
memory usage: 882.1+ KB

In [5]:
agg_data = pp_data_clear.merge(fg_data, on='name')

In [6]:
agg_data.head()

Empty DataFrame
Columns: [available, categoryId, country_of_origin, cpa, currencyId, delivery, description, family, id, manufacturer_warranty, clearModel, name, oldprice, pickup, picture, price, probnik, sex_x, start_year, store, tester, type, typePrefix, unit, url, vendor, vendorCode, vol, link, sex_y, url_brand, year]
Index: []

[0 rows x 32 columns]

# Я всё.